<div class='row g-2'>

    <div class="col-md">
    <div class="form-floating">
      {{form.Segnatura}}
      <label for="floatingInputGrid0">Segnatura</label>
    </div>
    <div class="alert alert-info " role="alert">
    <b>Per esempio:</b>  <i>XXVIII (26)</i>  (vedi <a href={{"".join([url_for("lineeguidacat"),"#Segnatura"])}} class="alert-link" title="La segnatura rappresenta il un identificativo univocod del codice in questo catalogo viene mantenuta la segnatura moderna e tra parentesi tonde quella antica.">linee guida</a>).
   </div>
  </div>

    <div class="col-md">
    <div class="form-floating">
      {{form.datazione}}
      <label for="floatingInputGrid1">Datazione</label>
    </div>
    <div class="alert alert-info " role="alert">
    <b>Per esempio:</b>  <i>Sec. V med.</i>  (vedi <a href={{"".join([url_for("lineeguidacat"),"#datazione"])}} class="alert-link">linee guida</a>).
   </div>
  </div>
</div>
<div class='row g-2'>

    <div class="col-md">
    <div class="form-floating">
      {{form.tipo_di_supporto_e_qualita}}
      <label for="floatingInputGrid2">Tipo di supporto e qualita</label>
    </div>
    <div class="alert alert-info " role="alert">
    <b>Per esempio:</b>  <i>membranaceo</i>  (vedi <a href={{"".join([url_for("lineeguidacat"),"#tipo_di_supporto_e_qualita"])}} class="alert-link">linee guida</a>).
   </div>
  </div>

    <div class="col-md">
    <div class="form-floating">
      {{form.consistenza}}
      <label for="floatingInputGrid3">Consistenza</label>
    </div>
    <div class="alert alert-info " role="alert">
    <b>Per esempio:</b>  <i>cc. II, 254, I</i>  (vedi <a href={{"".join([url_for("lineeguidacat"),"#consistenza"])}} class="alert-link">linee guida</a>).
   </div>
  </div>
</div>
<div class='row g-2'>

    <div class="col-md">
    <div class="form-floating">
      {{form.numerazione_carte}}
      <label for="floatingInputGrid4">Numerazione carte</label>
    </div>
    <div class="alert alert-info " role="alert">
    <b>Per esempio:</b>  <i>numeri arabici, sec. XX, matita, porzione esterna margine sup. del recto di ciascuna carta</i>  (vedi <a href={{"".join([url_for("lineeguidacat"),"#numerazione_carte"])}} class="alert-link">linee guida</a>).
   </div>
  </div>

    <div class="col-md">
    <div class="form-floating">
      {{form.carte_di_guardia}}
      <label for="floatingInputGrid5">Carte di guardia</label>
    </div>
    <div class="alert alert-info " role="alert">
    <b>Per esempio:</b>  <i>cartacee, inserite nel corso del rifacimento della legatura</i>  (vedi <a href={{"".join([url_for("lineeguidacat"),"#carte_di_guardia"])}} class="alert-link">linee guida</a>).
   </div>
  </div>
</div>
<div class='row g-2'>

    <div class="col-md">
    <div class="form-floating">
      {{form.prospetto_fascicolazione}}
      <label for="floatingInputGrid6">Prospetto fascicolazione</label>
    </div>
    <div class="alert alert-info " role="alert">
    <b>Per esempio:</b>  <i>no</i>  (vedi <a href={{"".join([url_for("lineeguidacat"),"#prospetto_fascicolazione"])}} class="alert-link">linee guida</a>).
   </div>
  </div>

    <div class="col-md">
    <div class="form-floating">
      {{form.arrangiamento_fogli_gregory}}
      <label for="floatingInputGrid7">Arrangiamento fogli gregory</label>
    </div>
    <div class="alert alert-info " role="alert">
    <b>Per esempio:</b>  <i>inizio fascicoli lato carne; rispettata la regola</i>  (vedi <a href={{"".join([url_for("lineeguidacat"),"#arrangiamento_fogli_gregory"])}} class="alert-link">linee guida</a>).
   </div>
  </div>
</div>
<div class='row g-2'>

    <div class="col-md">
    <div class="form-floating">
      {{form.dimensioni}}
      <label for="floatingInputGrid8">Dimensioni</label>
    </div>
    <div class="alert alert-info " role="alert">
    <b>Per esempio:</b>  <i>286x185 (c. 87) = 35 [197] 54 x 15 [117] 53</i>  (vedi <a href={{"".join([url_for("lineeguidacat"),"#dimensioni"])}} class="alert-link">linee guida</a>).
   </div>
  </div>

    <div class="col-md">
    <div class="form-floating">
      {{form.rigatura}}
      <label for="floatingInputGrid9">Rigatura</label>
    </div>
    <div class="alert alert-info " role="alert">
    <b>Per esempio:</b>  <i>Eseguita a secco con incisione su fascicolo aperto e composto</i>  (vedi <a href={{"".join([url_for("lineeguidacat"),"#rigatura"])}} class="alert-link">linee guida</a>).
   </div>
  </div>
</div>
<div class='row g-2'>

    <div class="col-md">
    <div class="form-floating">
      {{form.foratura}}
      <label for="floatingInputGrid10">Foratura</label>
    </div>
    <div class="alert alert-info " role="alert">
    <b>Per esempio:</b>  <i>No</i>  (vedi <a href={{"".join([url_for("lineeguidacat"),"#foratura"])}} class="alert-link">linee guida</a>).
   </div>
  </div>

    <div class="col-md">
    <div class="form-floating">
      {{form.legatura}}
      <label for="floatingInputGrid11">Legatura</label>
    </div>
    <div class="alert alert-info " role="alert">
    <b>Per esempio:</b>  <i>Di restauro in pergamena su asse in cartone</i>  (vedi <a href={{"".join([url_for("lineeguidacat"),"#legatura"])}} class="alert-link">linee guida</a>).
   </div>
  </div>
</div>
<div class='row g-2'>

    <div class="col-md">
    <div class="form-floating">
      {{form.utenti_email}}
      <label for="floatingInputGrid12">Utenti email</label>
    </div>
    <div class="alert alert-info " role="alert">
    <b>Per esempio:</b>  <i>donatella.tronca@outlook.com</i>  (vedi <a href={{"".join([url_for("lineeguidacat"),"#utenti_email"])}} class="alert-link" title="voluptate velit esse cillum dolore eu fugiat nulla pariatur cillum dolore eu fugiat nulla pariatur cillum dolore eu fugiat nulla pariatur cillum dolore eu fugiat nulla pariatur.">linee guida</a>).
   </div>
  </div>

    <div class="col-md">
    <div class="form-floating">
      {{form.Descrizione_Esterna_Segnatura}}
      <label for="floatingInputGrid13">Descrizione esterna segnatura</label>
    </div>
    <div class="alert alert-info " role="alert">
    <b>Per esempio:</b>  <i>XXVIII (26)</i>  (vedi <a href={{"".join([url_for("lineeguidacat"),"#Descrizione_Esterna_Segnatura"])}} class="alert-link">linee guida</a>).
   </div>
  </div>
</div>
<div class='row g-2'>