<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">  
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.16.0/extensions/filter-control/bootstrap-table-filter-control.css">
    <link href={{ url_for("static",filename="custom.css") }} rel="stylesheet" type="text/css" >  
    </head>
      <body>
        <div class="container">
        <h1> Sistema di inserimento nuova catalogazione</h1>
        <div> Cerca la scheda che vuoi modificare od ampliare, o creane una nuova.</div>
                    <table id="table"
                        data-toggle="table"
                        data-height="500"
                        data-filter-control="true"
                        data-show-search-clear-button="true"
                        data-sortable="true"
                        classes="table-sm"
                        data-pagination="true"
                        data-show-columns="true"
                        data-show-columns-toggle-all="true"
                        class="table-responsive">
                        <thead>
                            <tr>
                                <!--special characters and spaces not allowed in data-field name-->
                                <th data-field="columnA" data-filter-control="input" data-sortable="true">ID</th>
                                <th data-field="columnA2" data-filter-control="input" data-sortable="true">Segnatura</th>
                                <th data-field="columnB" data-filter-control="select" data-sortable="true">Versione</th>
                                <th data-field="columnC" data-filter-control="input" data-sortable="true"> Ultima modifica</th>
                                <th data-field="columnF" data-filter-control="select" data-sortable="true">Stato</th>
                                <th data-field="columnE" data-filter-control="select" data-sortable="true">Autore</th>
                                <th data-field="columnD" data-sortable="true" data-formatter="LinkFormatter"> Azioni</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in varx %}
                            <tr id="{{ row["segnatura_idx"] }}">
                                <!--special characters and spaces not allowed in data-field name-->
                                <td>{{ row["segnatura_idx"] }}</td>
                                {% if 'descrizione_esterna'in row %}
                                <td>{{ row['descrizione_esterna'][0]['Segnatura'] }}</td>
                                <td>{{ row["descrizione_esterna"][0]["utenti_email"] }}</td>
                                {% else %}
                                <td>n.d.</td>
                                <td>n.d.</td>
                                {% endif %}
                                <td>{{ row["version"] }}</td>
                                <td>{{ row["last_modified"].strftime("%Y-%m-%d %H:%M:%S") }}</td>
                                <td>{{ row["status"] }}</td>
                                <td>{{ url_for('insertfield', segnatura=row["segnatura_idx"]) }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <h2>Inserimento nuova scheda</h2>
        <form method="POST" action="/">
            <div class="form-group">
              <label for="idbene">ID bene:</label>
              {{ form.csrf_token }}
              {{ form.segnatura_idx }}
              <small id="textHelp" class="form-text text-muted">Inserisci un nuovo ID per il bene, non deve contenere spazi.</small>
            </div>
            <button type="submit" class="btn btn-primary">Crea nuovo record</button>
          </form>
          {% if stato != "" %}

          <div class="{{ stato[0] }}" role="alert">
            {{ stato[1]|safe }}
          </div>
          {% endif %}
        </div>
        <script>
            function LinkFormatter(value, row, index) {
            return "<a href='"+value+"'> Modifica</a>";
            }
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    </body>
    </html>