{# templates/index.html #}
{% import "macros.html" as macros %}

<html>

<head>
    <title>Inserimento dati</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href={{ url_for("static",filename="custom.css") }} rel="stylesheet" type="text/css" >
    {# Import JQuery #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
          /**
         * Conferma chiusura tab.
         */

         window.onbeforeunload = function() {
            return "You're leaving the site.";
        };
        $(document).ready(function() {
            $('a[rel!=ext]').click(function() { window.onbeforeunload = null; });
            $('form').submit(function() { window.onbeforeunload = null; });
        });
 

        const ID_RE = /(-)_(-)/;

        /**
         * Replace the template index of an element (-_-) with the
         * given index.
         */
        function replaceTemplateIndex(value, index) {
            return value.replace(ID_RE, '$1' + index + '$2');
        }

        /**
         * Adjust the indices of form fields when removing items.
         */
        function adjustIndices(removedIndex, tgsubf) {
            var $forms = $('.' + tgsubf);

            $forms.each(function (i) {
                var $form = $(this);
                var index = parseInt($form.data('index'));
                var newIndex = index;

                if (index < removedIndex) {
                    // Skip
                    console.log("Skipped with " + index)
                    return true;
                }
                // uso -1 per risistemare le forms
                if (removedIndex == -1){
                    newIndex+=1;
                }
                else {
                    newIndex-=1;
                }
                // This will replace the original index with the new one
                // only if it is found in the format -num-, preventing
                // accidental replacing of fields that may have numbers
                // intheir names.
                var regex = new RegExp('(-)' + index + '(-)');
                var repVal = '$1' + newIndex + '$2';
                console.log("Replaced with " + repVal)

                // Change ID in form itself
                $form.attr('id', $form.attr('id').replace(index, newIndex));
                $form.data('index', newIndex);
                // Change IDs in form fields
                $form.find('label, input, select, textarea, h5').each(function (j) {
                    var $item = $(this);

                    if ($item.is('label')) {
                        // Update labels
                        $item.attr('for', $item.attr('for').replace(regex, repVal));
                        return;
                    }
                    if ($item.is('h5')) {
                        // Update labels
                        $item.attr('id', $item.attr('id').replace(regex, repVal));
                        $item.text(newIndex);
                        console.log("VEcchio"+ repVal + "nuovo" + newIndex);
                        return;
                    }

                    // Update other fields
                    $item.attr('id', $item.attr('id').replace(regex, repVal));
                    $item.attr('name', $item.attr('name').replace(regex, repVal));

                });
            });
        }


        function adjustForm(anchor, tgsubf) {
            var $lastForm = $('.' + tgsubf).last();
            var removedIndex = parseInt($removedForm.data('index'));
            // Update indices
            adjustIndices(removedIndex, tgsubf);
        }
        /**
         * Remove a form.
         */
        function removeForm(anchor, tgsubf) {
            var $removedForm = $(anchor).closest($('.' + tgsubf));
            var removedIndex = parseInt($removedForm.data('index'));

            $removedForm.remove();

            // Update indices
            adjustIndices(removedIndex, tgsubf);
        }

        /**
         * Add a new form.
         */
        function addForm(idt, clst, tgsubf, rmvf) {
            var $templateForm = $(idt);

            if ($templateForm.length === 0) {
                console.log('[ERROR] Cannot find template');
                return;
            }

            // Get Last index
            var $lastForm = $('.' + tgsubf).last();

            var newIndex = 1;

            if ($lastForm.length > 0) {
                newIndex = parseInt($lastForm.data('index'))
                if (newIndex == 0) {
                    newIndex = newIndex + 2;
                } else {
                    newIndex = newIndex + 1
                }
            }

            // Maximum of 20 subforms
/*             if (newIndex >= 20) {
                console.log('[WARNING] Reached maximum number of elements');
                return;
            } */

            // Add elements
            var $newForm = $templateForm.clone();

            $newForm.attr('id', replaceTemplateIndex($newForm.attr('id'), newIndex));
            $newForm.data('index', newIndex);

            $newForm.find('label, input, select, textarea,h5').each(function (idx) {
                var $item = $(this);

                if ($item.is('label')) {
                    // Update labels
                    $item.attr('for', replaceTemplateIndex($item.attr('for'), newIndex));
                    return;
                }
                if ($item.is('h5')) {
                    // Update labels
                    $item.attr('id', replaceTemplateIndex($item.attr('id'), newIndex));
                    $item.text(newIndex)
                    return;
                }

                // Update other fields
                $item.attr('id', replaceTemplateIndex($item.attr('id'), newIndex));
                $item.attr('name', replaceTemplateIndex($item.attr('name'), newIndex));
            });

            // Append
            $(clst).append($newForm);
            $newForm.addClass(tgsubf);
            $newForm.removeClass('is-hidden');

            $newForm.find(rmvf).click(function (e) { e.preventDefault(); removeForm(this,tgsubf) });
        }


        $(document).ready(function () {
            $('#add_0').click(function (e) {
                e.preventDefault(); addForm('#descrizione_esterna-_-form', '#subforms-container_esterna', 'subform0', '.remove_0')
            });
            $('#add').click(function (e) {
                e.preventDefault(); addForm('#descrizione_interna-_-form', '#subforms-container_int', 'subform', '.remove_1')
            });
            $('#add_cp').click(function (e) {
                e.preventDefault(); addForm('#copisti-_-form', '#subforms-container_cp', 'subform2', '.remove_2')
            });
            $('#add_3').click(function (e) {
                e.preventDefault(); addForm('#annotazioni_marginali-_-form', '#subforms-container_annomg', 'subform3', '.remove_3')
            });
            $('#add_4').click(function (e) {
                e.preventDefault(); addForm('#storia_del_manoscritto-_-form', '#subforms-storia_del_manoscritto', 'subform4', '.remove_4')
            });
            $('#add_5').click(function (e) {
                e.preventDefault(); addForm('#biblio_int_libri-_-form', '#subforms-container_biblib', 'subform5', '.remove_5')
            });
            $('.remove_0').click(function (e) { e.preventDefault(); removeForm(this, 'subform0') });
            $('.remove_1').click(function (e) { e.preventDefault(); removeForm(this, 'subform') });
            $('.remove_2').click(function (e) { e.preventDefault(); removeForm(this, 'subform2') });
            $('.remove_3').click(function (e) { e.preventDefault(); removeForm(this, 'subform3') });
            $('.remove_4').click(function (e) { e.preventDefault(); removeForm(this, 'subform4') });
            $('.remove_5').click(function (e) { e.preventDefault(); removeForm(this, 'subform5') });
        });

        window.onload = function() {
            adjustIndices(-1,"subform0");
            adjustIndices(-1,"subform");
            adjustIndices(-1,"subform2");
            adjustIndices(-1,"subform3");
            adjustIndices(-1,"subform4");
            adjustIndices(-1,"subform5");
            // yourFunction(param1, param2);
        };
    </script>

    <style>
        .is-hidden {
            display: none;
        }
    </style>
</head>
<!-- https://www.europeana.eu/en/item/9200397/BibliographicResource_3000126281730 -->
<body style="margin:10;padding:10;margin-top:20px;background-color:#f7f7f7;">

    <form id="descrizione_interna-form" action="" method="POST" role="form">
    <div class="sidenav">
        <a href="#subforms-container_esterna">Descrizione esterna</a>
        <a href="#subforms-container_cp">Copisti</a>
        <a href="#subforms-container_annomg">Annotazioni marginali</a>
        <a href="#subforms-storia_del_manoscritto">Storia del manoscritto</a>
        <a href="#subforms-container_int">Descrizione interna</a>
        <a href="#subforms-container_biblib">Bibliografia</a>
        <button type="submit" class="btn-success">Salva catalogazione</button>
        <a href="#">Salvato alle: {{log}}</a>
        <p>
        <a href="http://lezioni.meneghetti.univr.it/segnatura/{{segnatura}}" target="_blank"> <img src="{{url_for('static', filename="visualizza.png")}}" id="vis"/> Visualizza la scheda </a>
        </p>
        <p>
            <a class="btn btn-primary" href="/iiifjcrop?manifest={{form.manifest.data}}" role="button" target="_blank">Accedi al visualizzatore</a> 
        </p>
        <br>
        <br>
        <a class="btn-danger" onclick="return confirm('I dati non salvati andranno persi. Procedere comunque?');" href="/">Ritorna alla pagina iniziale</a>

            
        </div>
    
      
    <div class="main">
        {{ form.csrf_token }}
        <div>
            <h3 class="headersec">Dati aggiuntivi</h3>
        </div>
        <div class='row g-2'>

            <div class="col-md">
              <div class="form-floating">
                {{form.status}}
                <label for="floatingInputGridDI0">Stato</label>
              </div>
              <div class="alert alert-info" role="alert">
                <b>Per esempio:</b> <i>Settare su concluso una volta terminato. Usare presentabile per permetterne la visualizzazione. </i> (vedi <a
                  href={{"".join([url_for("lineeguidacat"),"#autore"])}} class="alert-link">linee guida</a>).
              </div>
            </div>
      
            <div class="col-md">
              <div class="form-floating">
                {{form.manifest}}
                <label for="floatingInputGridDI1">Manifest</label>
              </div>
              <div class="alert alert-info" role="alert">
                <b>Per esempio:</b> <i class="text-break">http://lezioni.meneghetti.univr.it//manifests/b698a7d2668205fbe7cd023e0ded1784.json</i> (vedi <a href={{"".join([url_for("lineeguidacat"),"#titolo"])}}
                  class="alert-link">linee guida</a>).
              </div>
            </div>
          </div>
        
          <div class='row g-2'>

            <div class="col-md">
              <div class="form-floating">
                {{form.immagine_esemplificativa}}
                <label for="floatingInputGridDI0">Immagine esemplificativa</label>
              </div>
              <div class="alert alert-info" role="alert">
                <b>Indicazioni:</b> <i><a href="/iiifjcrop?manifest={{form.manifest.data}}&dimension=200," target="_blank">Ottieni l'url usando il visualizzatore</a>, tenere dimension a 200, selezionare la regione con il mouse e copiare il link.</i> (vedi <a
                  href={{"".join([url_for("lineeguidacat"),"#autore"])}} class="alert-link">linee guida</a>).
              </div>
            </div>
      
            <div class="col-md">
              <div class="form-floating">
                {{form.immagine_dorso}}
                <label for="floatingInputGridDI1">Immagine dorso</label>
              </div>
              <div class="alert alert-info" role="alert">
                <b>Indicazioni:</b> <i> <a href="/iiifjcrop?manifest={{form.manifest.data}}&dimension=100," target="_blank">Ottieni l'url usando il visualizzatore</a> tenere dimension a 100, selezionare la regione con il mouse e copiare il link.</i> (vedi <a href={{"".join([url_for("lineeguidacat"),"#titolo"])}}
                  class="alert-link">linee guida</a>).
              </div>
            </div>
          </div>
        
          <div class='row g-2'>

            <div class="col-md">
              <div class="form-floating">
                {{form.immagine_banner}}
                <label for="floatingInputGridDI0">Immagine banner</label>
              </div>
              <div class="alert alert-info" role="alert">
                <b>Per esempio:</b> <i> <a href="/iiifjcrop?manifest={{form.manifest.data}}&dimension=1200," target="_blank">Ottieni l'url usando il visualizzatore</a> tenere dimension a: 1200, ed aspect ratio vicino a 9</i> (vedi <a
                  href={{"".join([url_for("lineeguidacat"),"#autore"])}} class="alert-link">linee guida</a>).
              </div>
            </div>
      
     
          </div>
          <div class="mb-3">
            <label for="floatingInputGridDI1">Sommario descrizione:</label>
            {{form.sommario_desc}}
           
          </div>
          <div class="alert alert-info" role="alert">
            <b>Indicazioni:</b> <i> Usare quest'area per una descrizione generale del manoscritto (300-500 caratteri).</i> (vedi <a href={{"".join([url_for("lineeguidacat"),"#titolo"])}}
              class="alert-link">linee guida</a>).
          </div>
          
          <div>
            <h3 class="headersec">Descrizione Esterna</h3>
        </div>
        
        <div id="subforms-container_esterna">
            {% for subform in form.descrizione_esterna %}
            {{ macros.render_lap_form_est(subform, loop.index0) }}
            {% endfor %}
        </div>
        <a id="add_0" href="#subforms-container_esterna" class="btn btn-primary btn-block" tabindex="-1" role="button"
            aria-disabled="true">Aggiungi descrizione esterna</a>
        
        <br><br>

            {# Show all copisti #}
        <div>
            <h3 class="headersec">Copisti </h3>
        </div>
        <hr />
        <div id="subforms-container_cp">
            {% for subform in form.copisti %}
            {{ macros.render_lap_form2(subform, loop.index0) }}
            {% endfor %}
        </div>
        <a id="add_cp" href="#subforms-container_cp" class="btn btn-primary btn-sm" tabindex="-1" role="button"
            aria-disabled="true">Aggiungi copista</a>
            <br><br>
            {# Show all annotazioni marginali #}
        <br>
        <div>
            <h3 class="headersec">Annotazioni marginali </h3>
        </div>
        <hr />
        <div id="subforms-container_annomg">
            {% for subform in form.annotazioni_marginali %}
            {{ macros.render_lap_form3(subform, loop.index0,form.manifest.data) }}
            {% endfor %}
        </div>
        <a id="add_3" href="#subforms-container_annomg" class="btn btn-primary btn-sm" tabindex="-1" role="button"
            aria-disabled="true">Aggiungi annotazione marginale </a>
            <br><br>
            {# Show all Storia del manoscritto #}
        <br>
        <div>
            <h3 class="headersec">Storia del manoscritto </h3>
        </div>
        <hr />
        <div id="subforms-storia_del_manoscritto">
            {% for subform in form.storia_del_manoscritto %}
            {{ macros.render_lap_form4(subform, loop.index0) }}
            {% endfor %}
        </div>
        <a id="add_4" href="#subforms-storia_del_manoscritto" class="btn btn-primary btn-sm" tabindex="-1" role="button"
            aria-disabled="true">Aggiungi alla storia del manoscritto </a>
        {# Show all Bibliografia libri #}
        <br><br>
        
        <div>
            <h3 class="headersec">Descrizioni interne </h3>
        </div>
        <hr />
    {# Show all descrizioni interne #}
    <div id="subforms-container_int">
        {% for subform in form.descrizione_interna %}
        {{ macros.render_lap_form(subform, loop.index0) }}
        {% endfor %}
    </div>
    <a id="add" href="#subforms-container_int" class="btn btn-primary btn-block" tabindex="-1" role="button"
        aria-disabled="true">Aggiungi descrizione interna</a>
    <br><br>


        <div>
            <h3 class="headersec">Bibliografia interna libri </h3>
        </div>
        <hr />
        <div id="subforms-container_biblib">
            {% for subform in form.biblio_int_libri %}
            {{ macros.render_lap_form5(subform, loop.index0) }}
            {% endfor %}
        </div>
        <a id="add_5" href="#subforms-container_biblib" class="btn btn-primary btn-sm" tabindex="-1" role="button"
            aria-disabled="true">Aggiungi riferimento bibliografico </a>


        <br><br><br>
        


        <button type="submit" class="btn-success">Salva catalogazione</button>
    </div>
    </form>

    {% if form.errors %}
    {{ form.errors }}
    {% endif %}

    {# Form template #}
    {{ macros.render_lap_form_est(_template6, '_') }}
    {{ macros.render_lap_form(_template, '_') }}
    {{ macros.render_lap_form2(_template2, '_') }}
    {{ macros.render_lap_form3(_template3, '_') }}
    {{ macros.render_lap_form4(_template4, '_') }}
    {{ macros.render_lap_form5(_template5, '_') }}
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    </div>
    </body>

</html>