<html>
    <head>
        <title>Inserire record name authority</title>
        <link href="https://unpkg.com/tabulator-tables@5.3.3/dist/css/tabulator.min.css" rel="stylesheet">
        <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.3.3/dist/js/tabulator.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </head>

    <body>

        <script>
            var getJSON = function(url, callback) {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', url, true);
                xhr.responseType = 'json';
                xhr.onload = function() {
                var status = xhr.status;
                if (status === 200) {
                    callback(null, xhr.response);
                } else {
                    callback(status, xhr.response);
                }
                };
                xhr.send();
            };

            const inputHandler = function(e) {
                term = e.target.value
                if (term.length > 3) {
                    url = "https://www.wikidata.org/w/api.php?action=wbsearchentities&search="+term+"&format=json&errorformat=plaintext&language=it&uselang=it&type=item&origin=*"
                    getJSON(url,
                    function(err, data) {
                    if (err !== null) {
                        alert('Something went wrong: ' + err);
                    } else {
                        wikilist = document.getElementById("listawikidata")
                        wikilist.innerHTML = ""
                        for (let index = 0; index < data.search.length; ++index) {
                            const element = data.search[index];
                            const node = document.createElement("p");
                            span = document.createElement('span');
                            span.innerHTML = '<button id="butnxx' + index +'" onclick="updatefromwikidata(\''+element.id+'\')"> ↔️ </button>';
                            node.appendChild(span);
                            const label = document.createTextNode(element.label+" - ");
                            node.appendChild(label);
                            /* btn = document.createElement("button");
                            btn.innerHTML = "Click Me";; */
                            const textnode = document.createTextNode(element.description);
                            node.appendChild(textnode);
                            wikilist.appendChild(node);
                        }
                        return data;
                        }
                    });
                }
            }
            const updatefromwikidata = function(QID) {
                    let QIDX = QID;
                    url = "https://www.wikidata.org/w/api.php?action=wbgetentities&ids="+QID+"&format=json&languages=it&props=labels|descriptions|claims|sitelinks/urls&origin=*"
                    document.getElementById('wikidata').value = QID;
                    document.getElementById('idauthority').value = QID;
                    getJSON(url,
                    function(err, data) {
                    if (err !== null) {
                        alert('Non sono riuscito a caricare i dati da wikidata ' + err);
                    } else {
                        // descrizione
                        try {
                            descr = data.entities[QIDX].descriptions['it']['value']
                            desc = document.getElementById('descrizione')
                            desc.value = descr
                        } catch (error) {
                            console.log(error)
                        }
                        // identificativo
                        try {
                            labelvalue = data.entities[QIDX].labels['it']['value']
                            label = document.getElementById('identificativo')
                            label.value = labelvalue
                        } catch (error) {
                            console.log(error)
                        }
                        // determine if is human
                        if ("P31" in data.entities[QIDX].claims) {
                            if (data.entities[QIDX].claims["P31"]) {
                                array = data.entities[QIDX].claims["P31"]
                                for (let index = 0; index < array.length; index++) {
                                    const element = array[index];
                                    if (element['mainsnak']['datavalue']['value']['id'] == 'Q5') {
                                        console.log("Human")
                                        document.getElementById('tipologia').value = 'Persona';
                                        // determine if is date of birth P569 and death P570   
                                        try {
                                            birth = data.entities[QIDX].claims['P569'][0]['mainsnak']['datavalue']['value']['time']
                                            document.getElementById('non_prima').value = birth;

                                        } catch (error) {
                                            console.log(error)
                                        }
                                        try {
                                            death = data.entities[QIDX].claims['P570'][0]['mainsnak']['datavalue']['value']['time']
                                            document.getElementById('non_dopo').value = death;

                                        } catch (error) {
                                            console.log(error)
                                        }
                                    }    
                                }
                            }
                        // we check if it is listed as entity of  GeoName DB
                        };
                        if ("P1566" in data.entities[QIDX].claims){
                            document.getElementById('tipologia').value = 'Luogo';
                        };
                        // we check if it is a work of art P1476
                        if ("P1476" in data.entities[QIDX].claims){
                            document.getElementById('tipologia').value = 'Opera';
                        };
                        // mirabile P7986
                        try {
                            idmirabile = data.entities[QIDX].claims['P7986'][0]['mainsnak']['datavalue']['value'];
                            document.getElementById('mirabile').value = idmirabile;
                        } catch (error) {
                            console.log(error)
                        }
                        // SBN author P396
                        try {
                            SBN_author = data.entities[QIDX].claims['P396'][0]['mainsnak']['datavalue']['value'];
                            document.getElementById('SBN_author').value = SBN_author;
                        } catch (error) {
                            console.log(error)
                        }
                        }
                        })};
            document.addEventListener('DOMContentLoaded', function() {
            const source = document.getElementById('identificativo');
            source.addEventListener('input', inputHandler);
            source.addEventListener('propertychange', inputHandler);
            }, false);
            

        </script>
        <div class="container">
            <h1> Lista nameauthority </h1>
            Comincia a digitare nel campo per visualizzare ed importare usando il bottone ↔️ i record da wikidata. Compila le altre forme con il nome trovato nel manoscritto.
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <form id="lap-form" action="" method="POST" role="form">
                        <div class="form-group bg-light">
                        <hr>
                        {{ form.csrf_token }}
                        <table>
                            <tr>
                                <td>Nome:</td>
                                <td>{{ form.identificativo}}</td>
                                <td>{{ form.tipologia }}</td>
                            </tr>
                            <tr>
                                <td>ID nome:</td>
                                <td>{{ form.idauthority }}</td>
                            </tr>
                            <tr>
                                <td>Descrizione: </td>
                                <td>{{ form.descrizione }}</td>
                            </tr>
                            <tr>
                                <td>Altre forme presenti:</td>
                                <td>{{ form.altre_forme }}</td>
                            </tr>
                            <tr>
                                <td> Non prima:</td>
                                <td>{{ form.non_prima }}</td>
                            </tr>
                            <tr>
                                <td> Non dopo:</td>
                                <td>{{ form.non_dopo }}</td>
                            </tr>
                            <tr>
                                <td> ID wikidata:</td>
                                <td>{{ form.wikidata }}</td>
                            </tr>
                            <tr>
                                <td> ID SBN (autore):</td>
                                <td> {{ form.SBN_author }}</td>
                            </tr>
                            <tr>
                                <td> Forma REICAT SBN:</td>
                                <td> {{ form.reicat_opacSBN}}</td>
                            </tr>
                          </table>
                            <hr/>
                        </div>
                        <button type="submit">Salva identificatore</button>
                        <a href="/nameauthority"> Annulla le modifiche non salvate e passa a nuova voce</a>
                    </form>
                </div>
                <div class="col-sm">
                    {% if form.errors %}
                    {{ form.errors }}
                    {% endif %}
                <div id="listawikidata">
                </div>
            </div>
        </div>
        <div class="container">
            <div id="example-table"></div>
        </div>
        <script>
            var tableData = [
              {%for i in namelist %}
                {tipologia:"{{emojidict[i['tipologia']]}}{{i['tipologia']}}",
                 identificativo:"{{i['identificativo']|safe}}",
                 descrizione: "{{i['descrizione']|safe}}",
                 wikidata:"{{i['wikidata']}}",
                 mirabile:"{{i['mirabile']}}",
                 SBN_author:"{{i['SBN_author']}}",
                 modifica:"{{i['_id']|string}}",
                 elimina:"<a href=\"/deletename?id={{i['_id']|string}}\" onclick=\"return confirm('Sicuri di voler eliminare la voce?')\"> 🗑️ </a>"},
              {% endfor %}
            ]

            var table = new Tabulator("#example-table", {
                data:tableData, //set initial table data
                columns:[
                    {title:"Tipologia", field:"tipologia"},
                    {title:"Identificativo", field:"identificativo"},
                    {title:"Descrizione", field:"descrizione"},
                    {title:"Wikidata", field:"wikidata", formatter:"link", formatterParams:{
                        labelField:"wikidata",
                        urlPrefix:"https://www.wikidata.org/wiki/",
                        target:"_blank",
                    }},
                    {title:"Mirabile", field:"mirabile", formatter:"link", formatterParams:{
                        labelField:"mirabile",
                        urlPrefix:"https://www.mirabileweb.it/author/-/",
                        target:"_blank",
                    }},
                    {title:"SBN", field:"SBN_author", formatter:"link", formatterParams:{
                        labelField:"SBN_author",
                        urlPrefix:"https://www.mirabileweb.it/author/-/",
                        target:"_blank",
                    }},
                    //https://www.mirabileweb.it/author/-/
                    {title:"Modifica",field:"modifica",formatter:"link", formatterParams:{
                        label:"Modifica",
                        urlPrefix:"/nameauthority?id=",
                        target:"_blank",
                    }},
                    {title:"Elimina", field:"elimina", formatter:"html"},
                ],
            });
        </script>
        <hr/>

       



     </div>
    </body>
</html>