
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
  <!-- //  Tagify  -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
  
    <form id="nameauthority-form" action="" method="post" role="form">
      {{ form.csrf_token }}
      <div> Autore: {{form.autore_mittente}}</div>
      <div> Commentatore: {{form.commentatore}}</div>
      <div> Dedicatario: {{form.dedicatario}} </div>
      <div> Destinatario: {{form.destinatario}} </div>
      <div> Epitomatore: {{form.epitomatore}}</div>
      <div> Glossatore: {{form.glossatore}}</div>
      <div> Traduttore o adattatore: {{form.traduttore_adattatore}}</div>
      <div> Copista: {{form.copista}}</div>
      <div> Bibliografia: {{form.bibliografia}}</div>       
        <button type="submit"> Salva</button>
    </form>
<script>
function transformTag( tagData ){
    // tagData.style = "--tag-bg:" + getRandomColor();
    splitted = tagData.value.split("#p")
    if (splitted.length == 2) {
        tagData.value = splitted[0].concat("#p",splitted[1])
        
    }
    else{
        cut = tagData.value.substring(0,30)
        tagData.value = cut + "#p"
    }    
}

function parseinput( input ){
   if (input.value != "") {
    return JSON.parse(input.value); 
   }else{
    return Array();
   }
}
window.onload = function (){
  controller = new AbortController()
  controller; // for aborting the call


  function getdata (e,tagifyobj){
    var value = e.detail.value
    if (value.length > 3) {
      tagifyobj.whitelist = null // reset the whitelist

      // https://developer.mozilla.org/en-US/docs/Web/API/AbortController/abort
      controller && controller.abort()
      controller = new AbortController()

      // show loading animation and hide the suggestions dropdown
      tagifyobj.loading(true).dropdown.hide()
        // fetch('http://127.0.0.1:5000/cercapersona/keyvalue/?q=' + value, {signal:controller.signal})
        fetch("{{url_for('cercapersona', jsonformat='keyvalue',q='')}}" + value, {signal:controller.signal})
          .then(RES => RES.json())
          .then(function(newWhitelist){
            //output = newWhitelist.map(e => ({["value"]:e.data.title,["key"]:e.key}));
            output = newWhitelist.results.map(e => ({["value"]:e.value,["key"]:e.key}));
            mergedoutput = output.concat(tagifyobj.value);
            tagifyobj.whitelist = mergedoutput // update inwhitelist Array in-place
            tagifyobj.loading(false).dropdown.show(value) // render the suggestions dropdown
        })
    }
    
  }
  var input = document.querySelector('input[name=autore_mittente]')
  // init Tagify script on the above inputs
  tagify = new Tagify(input,{whitelist:parseinput(input),enforceWhitelist:true});
  // listen to any keystrokes which modify tagify's input
  tagify.on('input', onInput)
  function onInput( e ){ 
    getdata(e,tagify)
   /*  tagify.whitelist = null // reset the whitelist

    // https://developer.mozilla.org/en-US/docs/Web/API/AbortController/abort
    controller && controller.abort()
    controller = new AbortController()

    // show loading animation and hide the suggestions dropdown
    tagify.loading(true).dropdown.hide()
      fetch('http://127.0.0.1:5000/cercapersona/keyvalue/?q=' + value, {signal:controller.signal})
        .then(RES => RES.json())
        .then(function(newWhitelist){
          //output = newWhitelist.map(e => ({["value"]:e.data.title,["key"]:e.key}));
          output = newWhitelist.results.map(e => ({["value"]:e.value,["key"]:e.key}));
          tagify.whitelist = output // update inwhitelist Array in-place
          tagify.loading(false).dropdown.show(value) // render the suggestions dropdown
      }) */
  }

  var inputcommentatore = document.querySelector('input[name=commentatore]')
  // init Tagify script on the above inputs
  tagifycommentatore = new Tagify(inputcommentatore,{whitelist:parseinput(inputcommentatore),enforceWhitelist:true});
  // listen to any keystrokes which modify tagify's input
  tagifycommentatore.on('input', onInputcommentatore)
  function onInputcommentatore( e ){ 
    getdata(e,tagifycommentatore)

  }

  var inputdedicatario = document.querySelector('input[name=dedicatario]')
  // init Tagify script on the above inputs
  tagifydedicatario = new Tagify(inputdedicatario,{whitelist:parseinput(inputdedicatario),enforceWhitelist:true});
  // listen to any keystrokes which modify tagify's input
  tagifydedicatario.on('input', onInputdedicatario)
  function onInputdedicatario( e ){ 
    getdata(e,tagifydedicatario)

  }
  
  var inputdestinatario = document.querySelector('input[name=destinatario]')
  // init Tagify script on the above inputs
  tagifydestinatario = new Tagify(inputdestinatario,{whitelist:parseinput(inputdestinatario),enforceWhitelist:true});
  // listen to any keystrokes which modify tagify's input
  tagifydestinatario.on('input', onInputdestinatario)
  function onInputdestinatario( e ){ 
    getdata(e,tagifydestinatario)

  }

  var inputepitomatore = document.querySelector('input[name=epitomatore]')
  // init Tagify script on the above inputs
  tagifyepitomatore = new Tagify(inputepitomatore,{whitelist:parseinput(inputepitomatore),enforceWhitelist:true});
  // listen to any keystrokes which modify tagify's input
  tagifyepitomatore.on('input', onInputepitomatore)
  function onInputepitomatore( e ){ 
    getdata(e,tagifyepitomatore)

  }

  var inputglossatore = document.querySelector('input[name=glossatore]')
  // init Tagify script on the above inputs
  tagifyglossatore = new Tagify(inputglossatore,{whitelist:parseinput(inputglossatore),enforceWhitelist:true});
  // listen to any keystrokes which modify tagify's input
  tagifyglossatore.on('input', onInputglossatore)
  function onInputglossatore( e ){ 
    getdata(e,tagifyglossatore)

  }
  
  var inputtraduttore_adattatore = document.querySelector('input[name=traduttore_adattatore]')
  // init Tagify script on the above inputs
  tagifytraduttore_adattatore = new Tagify(inputtraduttore_adattatore,{whitelist:parseinput(inputtraduttore_adattatore),enforceWhitelist:true});
  // listen to any keystrokes which modify tagify's input
  tagifytraduttore_adattatore.on('input', onInputtraduttore_adattatore)
  function onInputtraduttore_adattatore( e ){ 
    getdata(e,tagifytraduttore_adattatore)

  }

  var inputcopista = document.querySelector('input[name=copista]')
  // init Tagify script on the above inputs
  tagifycopista = new Tagify(inputcopista,{whitelist:parseinput(inputcopista),enforceWhitelist:true});
  // listen to any keystrokes which modify tagify's input
  tagifycopista.on('input', onInputcopista)
  function onInputcopista( e ){ 
    getdata(e,tagifycopista)

  }
  
  var input2 = document.querySelector('input[name=bibliografia]'),
  tagify2 = new Tagify(input2,{transformTag : transformTag});
  tagify2.on('input', onInput2)

  function onInput2( e ){
  var value = e.detail.value
  tagify2.whitelist = null // reset the whitelist
  
  // https://developer.mozilla.org/en-US/docs/Web/API/AbortController/abort
  controller && controller.abort()
  controller = new AbortController()

  // show loading animation and hide the suggestions dropdown
  tagify2.loading(true).dropdown.hide()
    fetch('https://api.zotero.org/groups/3759014/items?key=z4LzVzTMxfjhRXDffFIwM4Zg&q=' + value, {signal:controller.signal})
      .then(RES => RES.json())
      .then(function(newWhitelist){
        output = newWhitelist.map(e => ({["value"]:e.data.title,["key"]:e.key}));
        tagify2.whitelist = output // update inwhitelist Array in-place
        tagify2.loading(false).dropdown.show(value) // render the suggestions dropdown
     })
  
}}

  // // "remove all tags" button event listener
  // document.querySelector('.tags--removeAllBtn')
  //     .addEventListener('click', tagify.removeAllTags.bind(tagify))

  // // Chainable event listeners
  // tagify.on('add', onAddTag)
  //       .on('remove', onRemoveTag)
  //       .on('invalid', onInvalidTag);

  // // tag added callback
  // function onAddTag(e){
  //     console.log(e, e.detail);
  //     console.log( tagify.DOM.originalInput.value )
  //     tagify.off('add', onAddTag) // exmaple of removing a custom Tagify event
  // }

  // // tag remvoed callback
  // function onRemoveTag(e){
  //     console.log(e, e.detail);
  // }

  // // invalid tag added callback
  // function onInvalidTag(e){
  //     console.log(e, e.detail);
  // }
  </script>
</body>
</html>